div.ReactTags__tags {
    font-family: "Roboto", sans-serif;
}

div.ReactTags__tags input[type="text"] {
    font-family: inherit;
    padding: 18.5px 0;
    border: none;
    width: 200px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

div.ReactTags__selected {
    position: relative;
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.ReactTags__tagInput {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

span.ReactTags__tag {
    padding: 14px;
    background-color: #ccc;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: auto !important;
}

span.ReactTags__tag a {
    margin-left: 14px;
    cursor: pointer;
}